@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif !important;
}
body{
    background-color:rgb(242, 113, 0)
}
nav{
    height: 10vh;
    align-items: center;
    width: 100%;
    
}
nav ul li{
    margin-top: 20px;
    list-style: none;
    color: #fff;
    font-size: 33px;
    display: inline;
    margin-left: 12px;
    margin-right: 12px;
    float: right;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover{
    color: #aaa;
    transition: all 0.5s ease;
}
div.heading{
    background-color: rgb(43, 43, 43);
    height: 13em;
    text-align: center;
}
.h1{
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2em;
    font-weight:bolder;
    padding-top: 3.2rem;
}
.dis{
    color: rgb(255, 60, 0);
    font-size: 1.2em;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
   
}
.project{
    color: #fff;
    font-size: 3.3em;
    text-align: center;
}
.line{
    height: 1px;
    width: 40%;
    background-color: #fff;
    margin-left: 29%;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:auto;
    column-gap: 3em;
    row-gap: 3em;
    margin: 12.5em;

}
.group1,.group2,.group3,.group4,.group5,.group6{
    color: #fff;
    /* border: 4px solid black; */
    background-color: #1f1f1f;
    height: fit-content;
    text-align: center;
}
img{
    width: 100%;
    height: 20vh;
    
}
.footer{
    background-color: #1f1f1f;
    height: 12em;
    text-align: center;
}
.work{
    padding-top: 1.5em;
    color: #fff;
    font-size: 2.8em;
    font-weight: bolder;
}
.coffee{
    font-size: 18px !important;
    font-weight: lighter;
}
i{
    color: #fff;
    font-size: medium;
    margin-right:2em;
    
}
.icon{
    text-align: justify;
    padding-left: 26em;
    padding-top: 1.5em;
    background-color: #1f1f1f;
}
.f-line{
    width: 100%;
    height: 2px;
    background-color:rgb(242, 113, 0)
}
.f{
    background-color:  #1f1f1f;
    color: #fff;
    height: 2em;
    
}